<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<title>Music Cycle</title>
	
	<link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/styles-note.css">
    
    <!-- <link rel="stylesheet" href="/static/jquery-ui.css" type="text/css"/> -->
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/organictabs.jquery.js"></script>
    <script src="/static/jquery-ui.custom.min.js"></script>
    <script src="/static/scripts-note.js"></script>
    
    <script src="/static/jquery.jplayer.min.js"></script>

    <script>
        $(function() {
            $("#example-one").organicTabs();
        });
    </script>
        <script type="text/javascript">

        $(document).ready(function(){

            $( "#favlist>ul" ).sortable({});
            $("#playlist>ul>li").draggable({
			connectToSortable: "#favlist>ul",
			helper: "clone",
			revert: "invalid"
		});
            


            audioE=$("#jquery_jplayer_1");
            $.CreateNote();

            var postick=$(".postick");
            var control=$("#control");
            $("#hidden").hide();

            control.hide();
            postick.mouseleave(function(){
              control.fadeOut();
            });

            postick.mouseenter(function(){
              control.stop(true,true).fadeIn();
            });


                $("#playlist").click(function(e){
                    var e=e||window.event;
                    var obj=e.target||e.srcElement;
                    var item=$(obj);
                    if  ( item.is('a') )
                        {
                            current=item;
                            setSrc(current);
                        }

                    });

                $("#favlist").click(function(e){
                    var e=e||window.event;
                    var obj=e.target||e.srcElement;
                    var item=$(obj);
                    if  ( item.is('a') )
                        {
                            current=item;
                            setSrc(current);
                        }

                    });


                $("#prev").click(function(){
                    prevTracks();
                    });
                $("#next").click(function(){
                    nextTracks();
                    });
                // playing=1;
                $("#pause").click(function(){
                        audioE.jPlayer("pause");
                    });
                $(".editable").click(function(){
                    $(".nav>li>a[href=#"+tabname+"]").trigger("click");

                    });  
                // Volume slider
                var setVolume = function(value){
                    audioE.jPlayer("volume", value);
                    $('.volume .pace').css('width', value * 100 + '%');
                    $('.volume .slider a').css('left', value * 100 + '%');
                }

                var volume = 0.6;
                $('.volume .slider').slider({max: 1, min: 0, step: 0.01, value: volume, slide: function(event, ui){
                    setVolume(ui.value);
                    $(this).addClass('enable');
                    $('.mute').removeClass('enable');
                }, stop: function(){
                    $(this).removeClass('enable');
                }}).children('.pace').css('width', volume * 100 + '%');

                function setSrc(item){

                    var old=$("ul>.old");
                    var height=item.parent().height() + 17 + 'px';
                    item.parent().animate({height:height},"slow" , callback=function(){
                        var height=old.height() - 17 + 'px';
                        old.animate({height:height},"slow" );
                    });

                    old.removeClass("old");
                    setPlayer(item);
                    var name=item.parent().attr("uri");
                    var songname=name.split("/")[1]
                    tabname=name.split("/")[0]
                    var staticsrc="{{ rooturl }}"+name;
                    var url=encodeURI(staticsrc);
                    setFlashSrc(url);
                    item.parent().addClass("old");
                    setNote(tabname,songname);
                    }



                function nextTracks(){
                    var liItem=current.parent().next()
                    if (! liItem.length)
                        liItem=current.parent().parent().children("li:first");
                    current=liItem.children("a");
                    setSrc(current);
                }


                function prevTracks(){
                current=current.parent().prev().children("a");
                setSrc(current);
                }
                

                function setPlayer(item){
                    var player=document.getElementById("player");
                }

                function setNote(tabname,songname){
                    $(".editable").fadeOut();
                    $(".editable").html("<br>" + tabname+ "<br>"+songname);
                    $(".editable").fadeIn();
                }

                audioE.bind($.jPlayer.event.ended , function(event) {
                    nextTracks(); 
                  });

            // function setFalsh(file){
            $("#jquery_jplayer_1").jPlayer({
                ready: function(event) {
                    $(this).jPlayer("setMedia", {
                        mp3: '',
                    });
                },
                swfPath: "http://www.jplayer.org/2.1.0/js",
                supplied: "mp3",
                solution: "flash"
            });
            // }
            function setFlashSrc(file){
                 $("#jquery_jplayer_1").jPlayer( "clearMedia" );
                 $("#jquery_jplayer_1").jPlayer("setMedia", {
                        mp3: file,
                    }).jPlayer("play")

            }

        });

    
</script>
</head>

<body>
    <div id="hiddenf">
        <div id="player"></div>
        <div id="jquery_jplayer_1"></div>
    </div>

	<div id="page-wrap">

        <div id="favlist" class="list-wrap">
            <ul>
                <li uri="叶惠美/以父之名.mp3">
                <a >以父之名.mp3</a>
                </li>
                <li uri="八度空间/回到过去.mp3">
                <a >回到过去.mp3</a>
                </li>
                <li uri="十一月的肖邦/周杰伦-珊瑚海.mp3">
                <a >周杰伦-珊瑚海.mp3</a>
                </li>
                <li uri="十一月的肖邦/夜曲.mp3">
                <a >夜曲.mp3</a>
                </li>
            </ul>
            <br />

        </div> <!-- END List Wrap -->

	
        <div id="example-one">
        			
        	<ul class="nav">
                {% for i in mainlist %}
                    <li class="nav-one" >
                    <a href="{{ '#'+i.title}}" class={{mainlist.index(i) or "current"}}>
                        {{ i.title }}
                    </a>
                    </li>
                {% end %}
            </ul>
        	
       	<div class="list-wrap" id="playlist">
        	       {% for i in mainlist %}
                       <ul id="{{i.title}}" class={{mainlist.index(i) and "hide"}}>
                            {% for a in i.playlist %}
                            <li uri= "{{"%s/%s"%(i.title,a)}}">
                            <a>
                                {{ a }}
                            </a>
                            </li>
                            {% end %}
                        </ul>
                    {% end %}
                    <br />

        	 </div> <!-- END List Wrap -->
         
         </div> <!-- END Organic Tabs (Example One) -->
		 
		 <p>Powered By Python</p>
         <p>Copyright © 2012 <a href="http://www.lzu.me" target="_blank">Lzu.me</a>. All Rights Reserved</p>

	</div>
	
</body>

</html>
